<div class="container">
    <div class="card list-fruta">
      <h5 class="card-header">Lista de Frutas</h5>
        <form id="add-form" (ngSubmit)="f.form.valid && saveFruta(f)" #f="ngForm" novalidate>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>                    
                        <th scope="col">Quantidade</th>
                        <th scope="col">Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fruta of frutas">
                        <td><img src="\assets\img\{{fruta.fotoFruta}}" alt="" width="40" height="40"></td>
                        <td>{{fruta.idFruta}}</td>
                        <td>{{fruta.nomeFruta}}</td>
                        <td>{{fruta.descricaoFruta}}</td>                    
                        <td>{{fruta.qtdFruta}}</td>                
                        <td>{{fruta.valorFruta | currency: 'BRL': 'symbol': '.2-2'}}</td>
                        <td>                        
                        <button type="submit" class="btn btn-primary btn-add-fruta">Comprar</button>
                        </td>                   
                    </tr>               
                    </tbody>
                </table>
            </div>
        </form>
    </div>    
</div> 
